*{
    margin: 0;
    padding: 0;
}
p{
    margin-bottom: 0;
}
/* ------------------------------Nav-------------------------------------- */
.nuestro-nav{
    background-color: #BC8DA0!important;
}
.nav-items:hover{
    background-color: #c997ab;
}
/* Seccion Balance */
.card-balance{
    background-color: #bc8da0c2;
    width: 75%;
    box-shadow: 0px 8px 15px -7px rgba(0,0,0,0.64);
}
.balance-ganancias{
    color: rgb(74, 180, 64);
}
.balance-gastos{
    color: rgb(158, 34, 34);
}
.span-ocultar-filtros:hover{
    color: rgba(255, 255, 255, 0.685);
    cursor: pointer;
}
.card-operaciones, .card-reportes{
    background-color: #bc8da0c2;
    width: 100%;
    box-shadow: 0px 8px 15px -7px rgba(0,0,0,0.64);
}
.card-operaciones{
    min-height: 750px;
}
.boton-nueva-operacion:hover{
    background-color: rgba(255, 255, 255, 0.685);
}
.imagen-ninguna-operacion{
    width: 50%;
}
.contenedor-ninguna-operacion{
    height: 100%;
}

/* sección Nueva operación y editar operación */
.contenedor-nueva-operacion, .contenedor-editar-operacion , .contenedor-seccion-categorias, .contenedor-seccion-editar-categoria{
    background-color: #bc8da0c2;
    box-shadow: 0px 8px 15px -7px rgba(0,0,0,0.64);    
}
.boton-agregar{
    background-color: rgb(74, 180, 64);
}

/* sección categorías */
.contenedor-seccion-categorias , .contenedor-seccion-editar-categoria{
    background-color: #bc8da0c2;
}
.input-nombre-nueva-categoria, .input-nombre-editar-categoria{
    width: 85%;
}
.span-nombre-categoria{
    background-color: rgba(255, 255, 255, 0.301);
}
.link-editar-eliminar-categoria:hover{
    color: rgba(255, 255, 255, 0.473);
}
/* Seccion reportes */
.imagen-operaciones-insuficientes{
    width: 50%;
}
/* operaciones nuevas */
.ganancia, .gasto, .span-categoria{
    background-color:#ddc9d1c4;
}
.ganancia, .ganancia-operacion{
    color: rgb(74, 180, 64);
}
.ganancia::before, .ganancia-operacion::before{
    content: '+$';
}
.gasto, .gasto-operacion{
    color: rgb(158, 34, 34);
}
.gasto::before,  .gasto-operacion::before{
    content: '-$';
}
.operacion{
    background-color: #dabbc7c2;
}
.boton-eliminar-operacion, .boton-editar-operacion, .span-fecha{
    color:#666666
    ;
}
.boton-eliminar-operacion:hover, .boton-editar-operacion:hover{
    color: #8c8c8c;
}
@media (max-width: 992px){
    .card-balance{
        width: 100%;
    }
    .card-operaciones{
        min-height: 400px;
    }
    .operacion{
        background-color: transparent;
    }
    .operacion-monto{
        text-align: left!important;
    }
}