*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
}
p{
    margin-bottom: 0;
}
/* ------------------------------Nav-------------------------------------- */
.nuestro-nav{
    background-color: #BC8DA0!important;
    color: white!important;
}
.seccion-categorias, .seccion-reportes , .seccion-nueva-operacion , .seccion-editar-operacion ,.seccion-editar-categoria{
    display: none;
}
/* Seccion Balance */
.contenedor-main{
    padding: 4%;
}
.card-balance{
    background-color: #BC8DA0;
    width: 75%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 8px 15px -7px rgba(0,0,0,0.64);
    margin-bottom: 5%;
}
.balance-titulo{
    margin-bottom: 20%;
}
.contenedor-balance-gastos{
    display: flex;
    justify-content: space-between;
    margin: 4% 0;
    font-size: 20px;
    align-items: center;
}
.contenedor-balance-gastos span{
    font-size: 18px;
}

.balance-total{
    font-size: 25px;
}
.contenedor-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenedor-input-filtros{
    display: flex;
    flex-direction: column;
    margin: 6% 0;
}
.contenedor-input-filtros select, .contenedor-input-filtros input{
    padding: 2% 1%;
    margin-top: 4%;
}
.card-operaciones{
    background-color: #BC8DA0;
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 8px 15px -7px rgba(0,0,0,0.64);
    height: 100%;
}
.card-titulo-boton{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.boton-nueva-operacion{
    border-radius: 10px;
    border: none;
    padding: 1% 2%;
}
.imagen-ninguna-operacion{
    width: 50%;
    margin-bottom: 5%;
}
.contenedor-ninguna-operacion{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100%;

}

/* sección Nueva operación y editar operación */
.contenedor-nueva-operacion, .contenedor-editar-operacion , .contenedor-seccion-categorias, .contenedor-seccion-editar-categoria{
    background-color: #BC8DA0;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0px 8px 15px -7px rgba(0,0,0,0.64);

    
}
.contenedor-input-nueva-operacion , .contenedor-input-editar-operacion{
    display: flex;
    flex-direction: column;
    margin: 3% 0%;
}
.contenedor-input-nueva-operacion label , .contenedor-input-editar-operacion label{
    font-weight: bolder;
    margin-bottom: 1%;
    
    
}
.contenedor-input-nueva-operacion input , .contenedor-input-nueva-operacion select, .input-nombre-nueva-categorias ,.contenedor-input-editar-operacion input,.contenedor-editar-operacion select , .input-nombre-editar-categoria{
    padding: 0.5% 1%;
    border-radius: 10px;
    border: none;
}
.boton-agregar{
    background-color: rgb(74, 180, 64);
    border: none;
}

/* sección categorías */
.contenedor-seccion-categorias , .contenedor-seccion-editar-categoria{
    background-color: #BC8DA0;
    
}
.contenedor-input-agregar-categorias , .contenedor-input-editar-categoria{
    display: flex;
    justify-content: space-between;
    margin: 2% 0 5% 0;
}
.label-nombre-nueva-categoria , .label-nombre-editar-categoria{
    font-weight: bold;
}
.input-nombre-nueva-categorias, .input-nombre-editar-categoria{
    width: 85%;
}
.contenedor-span-editar-eliminar{
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
    text-align: center;
    align-items: center;
}
.span-nombre-categoria{
    color: white;
    background-color: rgba(255, 255, 255, 0.301);
    padding: 0.5%;
    border-radius: 5px;
    font-weight: bold;
}
.link-editar-eliminar-categoria{
    text-decoration: none;
    margin-left: 10%;
    color: white;
}
.link-editar-eliminar-categoria:hover{
    color: rgba(255, 255, 255, 0.473);
}
/* Seccion reportes */
.contenedor-operaciones-insuficientes{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 0%
}
.imagen-operaciones-insuficientes{
    width: 50%;
    margin-bottom: 5%;
    
}

/* operaciones nuevas */

.ganancia{
    color: rgb(74, 180, 64);
}
.ganancia::before{
    content: '+$';
}
.gasto{
    color: rgb(158, 34, 34);
}
.gasto::before{
    content: '-$';
}
.operacion{
    background-color: #dabbc7c2;
}
.boton-eliminar-operacion, .boton-editar-operacion, .span-fecha{
    color:#666666
    ;
}
.boton-eliminar-operacion:hover, .boton-editar-operacion:hover{
    color: #8c8c8c;
}
.span-categoria{
    color: white;
    background-color:#ddc9d1c4;
    padding: 2.5%;
    border-radius: 5px;
    font-weight: bold;
}